 .u-section-1 {
  background-image: url("images/fakurian-design-58Z17lnVS4U-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 735px;
}

.u-section-1 .u-text-1 {
  margin: 143px 742px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  margin: 21px 112px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 25px 742px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 542px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 542px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 322px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 322px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 142px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 142px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 214px;
}

.u-section-2 .u-group-1 {
  width: 832px;
  min-height: 158px;
  margin: 28px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-2 .u-group-1 {
    width: 686px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-top: 29px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 525px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 15px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(41,49,51,0.25), rgba(41,49,51,0.25)), url("images/8d98d9f895d45f1a7a10b3f4152d0a2a.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 565px;
}

.u-section-3 .u-group-1 {
  min-height: 443px;
  width: 800px;
  height: auto;
  margin: 60px 0 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-3 .u-text-1 {
  margin: 127px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 40px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-3 .u-group-1 {
    min-height: 450px;
    width: 660px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    font-size: 1.25rem;
  }

  .u-section-3 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    min-height: 410px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    min-height: 485px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-3 .u-text-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 55px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 55px;
    margin-bottom: 50px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 197px;
}

.u-section-4 .u-group-1 {
  width: 832px;
  min-height: 183px;
  margin: 0 auto 39px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  margin: 81px 0 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-4 .u-group-1 {
    width: 686px;
    margin-top: 24px;
    margin-bottom: 20px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 29px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 81px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 626px;
}

.u-section-5 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  margin: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-image-1 {
  height: 213px;
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-image-2 {
  height: 213px;
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-image-3 {
  height: 213px;
  margin-top: 25px;
  margin-bottom: 0;
  object-position: 50% 43.24%;
}

.u-section-5 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 8px 33px 40px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    grid-template-rows: repeat(1, auto);
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }

  .u-section-5 .u-image-1 {
    height: 169px;
  }

  .u-section-5 .u-image-2 {
    height: 169px;
    margin-top: 0;
  }

  .u-section-5 .u-image-3 {
    height: 169px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }

  .u-section-5 .u-image-1 {
    height: 200px;
  }

  .u-section-5 .u-image-2 {
    height: 200px;
  }

  .u-section-5 .u-image-3 {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 347px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 347px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 347px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    height: 214px;
  }

  .u-section-5 .u-image-2 {
    height: 214px;
  }

  .u-section-5 .u-image-3 {
    height: 214px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 197px;
}

.u-section-6 .u-group-1 {
  width: 832px;
  min-height: 158px;
  margin: 0 auto 39px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  margin: 35px 0 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-6 .u-group-1 {
    width: 686px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-top: 29px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 3rem;
  }

  .u-section-6 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 35px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 652px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 901px;
  margin: 0 auto 60px;
}

.u-section-7 .u-image-1 {
  min-height: 511px;
  background-image: url("images/jeffrey-grospe-6djTDnq4Svw-unsplash.jpg");
  background-position: 100% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 532px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-group-1 {
  width: 512px;
  min-height: 361px;
  background-image: none;
  height: auto;
  margin: 0 auto 0 -61px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-7 .u-image-1 {
    min-height: 551px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 551px;
  }

  .u-section-7 .u-group-1 {
    width: 490px;
    min-height: 379px;
    margin-top: 142px;
    margin-left: -99px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-1 {
    min-height: 499px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-7 .u-group-1 {
    width: 387px;
    min-height: 392px;
    margin-top: 77px;
    margin-left: -87px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-7 .u-image-1 {
    min-height: 660px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-group-1 {
    width: 470px;
    min-height: 346px;
    margin-top: -92px;
    margin-left: -10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-7 .u-image-1 {
    min-height: 416px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 47px;
  }

  .u-section-7 .u-group-1 {
    min-height: 378px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 20px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 197px;
}

.u-section-8 .u-group-1 {
  width: 832px;
  min-height: 158px;
  margin: 39px auto 0;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-1 {
  margin: 35px 0 0;
}

.u-section-8 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-8 .u-group-1 {
    width: 686px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-8 .u-text-1 {
    position: relative;
    margin-top: 29px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 3rem;
  }

  .u-section-8 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 35px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 541px;
}

.u-section-9 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px auto 60px 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 452px;
  pointer-events: auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-9 .u-text-1 {
  font-size: 1.125rem;
  margin: 77px 0 0;
}

.u-section-9 .u-btn-1 {
  border-style: none none solid;
  margin: 53px auto 0 60px;
  padding: 0;
}

.u-section-9 .u-btn-2 {
  border-style: none none solid;
  margin: -27px 34px -80px auto;
  padding: 0;
}

.u-section-9 .u-image-1 {
  min-height: 431px;
  pointer-events: auto;
  background-image: url("images/christin-hume-k2Kcwkandwg-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-9 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-image-1 {
    min-height: 272px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    min-height: 408px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    min-height: 257px;
  }
}